/* Nav Bar */
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  margin-left: 10px;
  font-size: 200%;
}

#nav-bar section {
  justify-self: end;
  margin-inline-start: auto;
}

#nav-bar button {
  border: 1px;
  border-style: solid;
  border-color: #656565;
  border-radius: 5px;
  color: #00a087;
  background-color: #ebfcff;
  font-size: 120%;
  padding-top: 0.66em;
  padding-bottom: 0.66em;
}

#nav-bar button:hover {
  color: #141414;
  background-color: white;
}
