/* Nav Bar */
#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  line-height: 80px;
  font-size: 200%;
}
