section.new-tweet {
  background: #eeeeee;
  border: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin-top: 60px;
}

.new-tweet > h2 {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #141414;
  margin: 8px;
}

.new-tweet > form {
  margin: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.new-tweet > form > * {
  flex: 1 0;
}

.new-tweet textarea {
  margin-bottom: 4px;
  display: block;
  padding: 0.25em;
  flex: 1 100%;
}
.new-tweet > form > .counter {
  text-align: end;
  font-style: italic;
}

/* This styles the submit form button similar to nav-bar buttons
.new-tweet > form > input[type='submit'] {
  border: 1px;
  border-style: solid;
  border-color: #656565;
  border-radius: 5px;
  color: #00a087;
  background-color: #ebfcff;
  font-size: 120%;
}

.new-tweet > form > input[type='submit']:hover {
  color: #141414;
  background-color: white;
} */

.limit-exceeded {
  color: #f55044;
}

.alert {
  padding: 1em;
  background-color: #f55044;
  color: white;
  margin-bottom: 0.33em;

  display: none;
}
